<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Orders</title>
        <!-- font awesome for icons -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
         <link rel="stylesheet" href="/styles/styles-order-list-page.css">
         <script id="applicationScript" src="/js/order-list-page.js"></script>
</head>
<body>
   
    <header>
        <div class="header-container">
            <div class="logo">Viatours</div>
            <nav>
                <ul>
                    <li><a href="/landing">Home</a></li>
                    <li><a href="/weather">Weather</a></li>
                </ul>
            </nav>
            <div class="auth">
                <a href="#" class="nopointer">Hi,  <%= username %>!</a>
                <a href="/logout">Log Out</a>
            </div>
    </header>

    <main>
        <section class="tour-details">
            <!-- breadcumb -->
            <div class="breadcumb">
                <a href="/landing">Home</a>
                <span>></span>
                <a href="#">Orders</a>
            </div>


            <h1>Orders</h1>
            <% if (activeOrder) { %>
             <div class="wrapper">
                <div class="order-number">Order number: <%= activeOrder.order_num %></div>
                <div class="order-flex">
                    <div class="order-flex-item order-flex-item-1">
                        <img src="/images/home-trail1.png" alt="">
                    </div>
                    <div class="order-flex-item order-flex-item-2">
                        <div class="mid-text-1">
                            <i class="fa-solid fa-location-dot"></i>
                                <span><%= activeOrder.location %></span>
                        </div>
                        <div class="mid-text-2 trail-name"><%= activeOrder.trail_name %></div>
                        <div class="mid-text-3">Length: <%= activeOrder.length %> km</div>
                        <div class="mid-text-4">Times: <%= activeOrder.days %> days</div>
                    </div>
                    <div class="order-flex-item order-flex-item-3">
                        <div class="left-text-1">Start From</div>
                        <div class="left-text-2"><%= activeOrder.date_str %></div>
                        <div class="left-text-3"><%= activeOrder.days %> days <%= activeOrder.days-1 %> night</div>
                        <div class="left-text-4"><%= activeOrder.parking_or_not %> parking space</div>
                        <div class="left-text-5"><%= activeOrder.adult_num + activeOrder.child_num %> people</div>  
                        <a href="#">
                            <div class="btn-modify">
                                Modify Booking
                            </div>
                        </a>
                        <a href="#">
                            <div class="btn-cancel">
                                Cancel Booking
                            </div>
                        </a>
                    </div>
                </div>
             </div>
             <% }else{ %>
                <div class="wrapper">
                    No orders yet.

                </div>
                
                <% } %>

             <h1>Past Orders</h1>

             <% if (pastOrders && pastOrders.length>0) { %>
                <% pastOrders.forEach(order => { %>
                    <div class="wrapper wrapper-past">
                        <div class="order-number">Order number: <%= order.order_num %></div>
                        <div class="order-flex">
                            <div class="order-flex-item order-flex-item-1">
                                <img src="/images/home-trail1.png" alt="">
                            </div>
                            <div class="order-flex-item order-flex-item-2">
                                <div class="txt mid-text-1">
                                    <i class="fa-solid fa-location-dot"></i>
                                        <span><%=  order.location %></span>
                                </div>
                                <div class="txt mid-text-2  trail-name"><%= order.trail_name %></div>
                                <div class="txt mid-text-3">Length: <%= order.length %> km</div>
                                <div class="txt mid-text-4">Times: <%= order.days %> days</div>
                            </div>
                            <div class="order-flex-item order-flex-item-3">
                                <div class="txt left-text-1">Start From</div>
                                <div class="txt left-text-2"><%= order.date_str %></div>
                                <div class="txt left-text-3"><%= order.days %> days <%= order.days -1 %> night</div>
                                <div class="txt left-text-4"><%= order.parking_or_not %> parking space</div>
                                <div class="txt left-text-5"><%= activeOrder.adult_num + activeOrder.child_num %> people</div>  
                            </div>
                        </div>
                    </div>
                <% }) %>
                <% }else{ %>  
                    <div class="wrapper">
                        No orders yet.
                    </div>  
             <% } %>
        </section>
    </main>

    <footer  style=" <%= activeOrder ? '':'position: fixed;    bottom: 0;    left: 0;right: 0;' %>" >
        <div class="footer-container"    >
            <h3>Contact</h3>
            <address>328 Queensberry Street, North Melbourne VIC 3051, Australia.</address>
            <a href="mailto:hi@viatours.com">hi@viatours.com</a>
            <p>&copy; Copyright Viatours 2024</p>
        </div>
    </footer>
</body>
</html>