<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%- trail.trail_name + " - Conestoga Park" %></title>
    <link rel="stylesheet" href="/styles/styles-trail-detail.css">
    <!-- font awesome for icons -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
    <!-- fullcalendar for calendar -->
    <link href='https://cdn.jsdelivr.net/npm/fullcalendar@5.10.1/main.min.css' rel='stylesheet' />
    <script src='https://cdn.jsdelivr.net/npm/fullcalendar@5.10.1/main.min.js'></script>
    <script src='https://cdn.jsdelivr.net/npm/fullcalendar@5.10.1/locales-all.min.js'></script>
</head>
<body>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            // fullcalendar
            var calendarEl = document.getElementById('calendar');
            var calendar = new FullCalendar.Calendar(calendarEl, {
                initialView: 'dayGridMonth',
                headerToolbar: {
                    left: 'prev,next today',
                    center: 'title',
                    right: 'dayGridMonth,timeGridWeek,timeGridDay'
                },
                events: <%- JSON.stringify(events.map(event => ({
                    // id: event.trail_id,
                    allDay: true,
                    title: `${event.available_seats} seats`,
                    start: event.date
                }))) %>
            });
            calendar.render();

            // auto-fill the 'to' date based on the 'from' date
            // and calculate the people count
            var fromInput = document.getElementById('from');
            var toInput = document.getElementById('to');
            var adultInput = document.getElementById('adults');
            var childrenInput = document.getElementById('children');
            var totalSpan = document.getElementById('final-people-count');

            var duration = <%- trail.duration %>; // Get the duration from the trail data

            fromInput.addEventListener('change', function() {
                var fromDate = new Date(this.value);
                var toDate = new Date(fromDate);
                toDate.setDate(fromDate.getDate() + duration);
                toInput.value = toDate.toISOString().split('T')[0];
            });

            function updateTotalPeople() {
                var adults = parseInt(adultsInput.value) || 0;
                var children = parseInt(childrenInput.value) || 0;
                var total = adults + children;
                totalSpan.textContent = `${total} people`;
            }

            adultsInput.addEventListener('input', updateTotalPeople());
            childrenInput.addEventListener('input', updateTotalPeople());

            // Initialize the total on page load
            updateTotalPeople();
        });
    </script>
    <header>
        <div class="header-container">
            <div class="logo">Conestoga Park</div>
            <nav>
                <ul>
                    <li><a href="/landing">Home</a></li>
                    <li><a href="/weather">Weather</a></li>
                </ul>
            </nav>
            <div class="auth">
                <a href="/sign-up">Sign up</a>
                <a href="/login">Log in</a>
            </div>
    </header>

    <main>
        <section class="tour-details">
            <!-- breadcumb -->
            <div class="breadcumb">
                <a href="/landing">Home</a>
                <span>></span>
                <a href="/landing/trail-detail-<%- trail.id %>"><%- trail.trail_name %></a>
            </div>
            <h1><%- trail.trail_name %></h1>
            <div>
                <i class="fa-solid fa-location-dot"></i>
                <span><%- trail.location %></span>
            </div>
            <div class="gallery">
                <div class="gallery-item">
                    <img src="<%- trail.image_main %>" alt="<%- trail.trail_name %>">
                </div>
                <div class="gallery-item">
                    <img src="<%- trail.image_medium %>" alt="<%- trail.trail_name %>">
                </div>
                <div class="gallery-item">
                    <img src="<%- trail.image_small_left %>" alt="<%- trail.trail_name %>">
                </div>
                <div class="gallery-item">
                    <img src="<%- trail.image_small_right %>" alt="<%- trail.trail_name %>">
                </div>
            </div>
        </section>

        <div class="grid">
            <div class="main-content">
                <section class="overview">
                    <div class="info">
                        <div class="info-item">
                            <div class="row">
                                <div class="icon">
                                    <i class="fa-solid fa-location-dot"></i>
                                </div>
                                <div class="text">
                                    <span>Duration</span>
                                    <p><%- trail.duration %> days</p>
                                </div>
                            </div>
                        </div>
                        <div class="info-item">
                            <div class="row">
                                <div class="icon">
                                    <i class="fa-solid fa-user-group"></i>
                                </div>
                                <div class="text">
                                    <span>Group Size</span>
                                    <p><%- trail.max_group_size %> people</p>
                                </div>
                            </div>
                        </div>
                        <div class="info-item">
                            <div class="row">
                                <div class="icon">
                                    <i class="fa-solid fa-clock"></i>
                                </div>
                                <div class="text">
                                    <span>Length</span>
                                    <p><%- trail.length%>km</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <h2>Tour Overview</h2>
                    <p><%- trail.overview %></p>
                    <!-- <h3>Tour Highlights</h3>
                    <ul>
                        <li>Experience the thrill of a speedboat to the stunning Phi Phi Islands</li>
                        <li>Be amazed by the variety of marine life in the archipelago</li>
                        <li>Enjoy relaxing in paradise with white sand beaches and azure turquoise water</li>
                        <li>Feel the comfort of a tour limited to 35 passengers</li>
                        <li>Catch a glimpse of the wild monkeys around Monkey Beach</li>
                    </ul> -->
                </section>

                <!-- <section class="inclusions">
                    <h2>What's included</h2>
                    <div class="flex">
                        <div class="included-items">
                            <ul>
                                <li>Beverages, drinking water, morning tea and buffet lunch</li>
                                <li>Local taxies</li>
                                <li>Hotel pickup and drop-off by air-conditioned minivan</li>
                                <li>Insurance/Transfer to a private pier</li>
                                <li>Soft drinks</li>
                                <li>Tour Guide</li>
                            </ul>
                        </div>
                        <div class="not-included-items">
                            <ul>
                                <li>Towel</li>
                                <li>Tips</li>
                                <li>Alcoholic Beverages</li>
                            </ul>
                        </div>
                    </div>
                </section> -->

                <section class="availability">
                    <h2>Availability Calendar</h2>
                    <div class="calendar">
                        <div class="dates" id="calendar">
                            <!-- Calendar dates go here -->
                        </div>
                    </div>
                </section>
            </div>

            <aside>
                <form class="booking-form" action="/order" method="post">
                    <div class="form-container">
                        <label for="from">From</label>
                        <input type="date" id="from" name="from" value="<%- dateStringForToday %>">
                        <label for="to">To</label>
                        <input type="date" id="to" name="to" value="<%- dateStringForEnd %>">
                        <h3>Tickets</h2>
                        <label for="adults">Adult</label>
                        <input type="number" id="adults" name="adults" value="0">
                        <label for="children">Children</label>
                        <input type="number" id="children" name="children" value="0">
                        <h3>Add Extra</h2>
                        <div class="extra">
                            <input type="checkbox" id="parking" name="parking">
                            <label for="parking">Add parking</label>
                        </div>
                        <div class="total">
                            <!-- <span>Total:</span> -->
                            <!-- <span id="final-people-count">0 people</span> -->
                        </div>
                        <input type="hidden" name="trailId" value="<%- trail.id %>">
                        <button type="submit">Book Now</button>
                    </div>
                </form>
            </aside>
        </div>
    </main>

    <footer>
        <div class="footer-container">
            <h3>Contact</h3>
            <address>123 Maple Street, Toronto, ON M4B 1V7, Canada</address>
            <a href="mailto:service@conestogapark.com">service@conestogapark.com</a>
            <p>&copy; Copyright Conestoga Park 2024</p>
        </div>
    </footer>
</body>
</html>